*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right{
    float: right !important;
}

.btn{
    margin-bottom: 16px;
    color: #fff;
    background-color: #000;
    padding: 12px 16px;
    border: none;
}

.mbt8px{
    margin-bottom: 8px !important;
}

.mbt16px{
    margin-bottom: 16px !important;
}

.mg{
    margin: 16px 0;
}

.row{
    margin-left: -16px;
    margin-right: -16px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

/* Phan Main */
#main{

}

#header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
    font-size: 15px;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    padding: 0 24px;
}

#nav li a{
    text-decoration: none;
}

#nav .subnav{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav li{
    line-height: 38px;
    padding: 0 16px;
    cursor: pointer;
}

#nav .subnav li a{
    color: #000;
}

#nav .nav-arow-down{
    font-size: 14px;
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-button{
    line-height: 46px;
    padding: 0 24px;
}

#header .search-btn{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

/* Phần Slider */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/HTML/w3_band/img/Slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-slider {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 32px 0;
}

#slider .text-heading{
    font-size: 24px;
    margin: 10px 0;
    font-weight: 400;
}

#slider .text-sub-heading{
    font-size: 15px;
    margin: 15px;
    font-weight: bolder;
}

/* Phần Content */
#content{
    
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
}

#content .section-sub-heading{
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-section{
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

/* Phần Member */
#content .member-list{
    padding: 32px 0;
}

#content .member-name{
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-bottom: 16px;
    border-radius: 4px;
}

/* Phần Tour Dates */
.tour-section{
    background-color: #000;
}

.tour-section .tickets-list{
    margin-top: 35px;
    font-size: 15px;
    background-color: #fff;
    list-style-type: none;
}

.tour-section .tickets-list li{
    padding: 10px 16px;
    border: 1px solid #ddd;
    color: #757575;
}

.tour-section .sold-out{
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 8px;
}

.tour-section .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    text-align: center;
    margin-top: -4px;
    margin-right: 16px;
}

/* Place List */
.places-list{
    padding: 32px 8px;
}

.places-list .places-img:hover{
    opacity: 0.6;
}

.places-list .places-img{
    width: 100%;
    display: block;
}

.places-body{
    color: #000;
    background-color: #fff;
    padding: 0.15px 16px;
    font-size: 15px;
    line-height: 1.5;
}

.places-body .places-heading{
    font-size: 15px;
    margin: 15px 0;
}

.places-body .places-time{
    opacity: 0.6;
    margin: 15px 0;
}

.places-body .about-places{
    margin: 15px 0;
}


/* Contact form*/
.contact-content{
    padding: 32px 0;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-send{
    margin-right: -8px;
}

.map-section img{
    width: 100%;
}

/* Footer Section */
#footer{
    padding: 64px 16px;
}

#footer .socials-list{
    font-size: 24px;
}

#footer .copy-right a:hover,
#footer .socials-list a:hover{
    opacity: 0.6;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    cursor: auto;
}

#footer .copy-right,
#footer .copy-right a{
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

/* Modal */
.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFaceIn ease .5s;
}

#buy-tickets:hover,
.modal-close:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 18px 16px;
    font-size: 14px;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
    padding: 32px 16px;
}

.modal .modal-heading-icon{
    margin-right: 16px;
}

.modal-body {
    padding: 0.15px 16px;
}

.modal-label{
    display: block;
    margin: 15px 0;
    font-size: 15px;
}

.modal-input {
    padding: 10px 8px;
    width: 100%;
    font-size: 15px;
    border: 1px solid #ccc;
}

#buy-tickets{
    color: #fff;
    background-color: #009688;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 16px;
    margin: 16px 0;
    border: none;
}

.modal-help {
    text-align: right;
    font-size: 15px;
    margin: 15px 0;
    padding: 16px;
}

.modal-help a{
    color: #2196F3;
}

@keyframes modalFaceIn{
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
